body{
    background: url("music-1645561_1920.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Oswald;
}

.hidden{
    display:none;
}

/*-------------------logo-----------------*/
.logo-container {
    font-size: 40px;
    font-family: Lato;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.logo-container span:nth-child(1){
    font-family: Lato;
    font-weight: 100;
    font-style: italic;
}

.logo-icon, .site-icon{
    display: inline-block;
    white-space: nowrap;
}

.site-icon{
    width: 40px;
    height: 40px;
    background-image: url(disc_icon2.png);
    background-size: cover;
}

.word{
    font-size: 60px;
}


/*---------------search container -----------*/
fieldset{
    border: 0;
}

.search-input{
    padding-right: 20px;
    padding-left: 20px;
}

.search-container{
    display:flex;
    justify-content: center;
/*     padding-top: 20px; */
    padding-bottom: 20px;
    transition: 1s;
}

.covers-search{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid rgba(51,51,51);
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
    width: 500px;
    transition: 1s;
}

.submit-button{
    border: 1px solid white;
    background: none;
    font-family: Oswald;
    font-weight: 300;
    color: white;
    margin-top: 15px;
    padding: 5px;
    font-size: 14px;
}

.submit-button:hover{
    background: #cf3800;
    transition: 0.6s;
}

.search-feedback{
    width:100%;
    color: white;
    font-size: 15px;
}

.sf-hidden{
    visibility: hidden;
    line-height: 0;
}

.push-header{
    height: 30vh;
}

.push-up-header{
    height: 5px;
    transition: 2s;
}

/*----------------------typeahead--------------------*/
span.twitter-typeahead{
    width: 100%;
    box-sizing: border-box;
}

.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    box-sizing: border-box;
	border-radius: 8px;
    font-size: 14px; /* Set input font size */
    font-family: Oswald;
    font-weight: 300;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 10px 5px;
	width: 100%;
}
.typeahead {
	background-color: #FFFFFF;
}

.typeahead:focus {
	border: 2px solid #0097CF;
}

.typeahead::placeholder{
    color: #adadad;
}

.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint {
	color: #999999;
}

.tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 100%;
}
.tt-suggestion {
    font-size: 14px;  /* Set suggestion dropdown font size */
    font-family: Oswald;
    font-weight: 300;
	padding: 3px 20px;
}

.tt-suggestion:hover, .tt-cursor {
	cursor: pointer;
    background-color: #0097CF;
    border-radius: 8px;
    color: #FFFFFF;
    transition: 0.5s;
}

.tt-suggestion p {
	margin: 0;
}

.suggestion-cat{
    font-family: Lato;
    color: white;
    margin: 2px;
    padding: 4px;
    background-color: #cf3800;
    border-radius: 5px;
    font-size: 14px;
}

/*-----------------------search results-----------------------*/
.results-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* width: 100vw; */
    margin: 0 auto;
    transition-duration: 2s;
}

/*----------------------cover stuff----------------------*/
.result-cover{
    margin: 5px;
    width: 40vw;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}

.result-cover img{
    width:100%;
}

.album-year{
    bottom:1px;
    font-size: 14px;
}

.result-cover:link{
    color: white;
    text-decoration: none;
}

.result-cover:hover, .result-cover:focus{
    box-shadow: 0px 0px 15px #cf3800;
    transition: 0.5s;
    cursor: pointer;
}

.cover-art img{
    max-width: 100%;
    max-height: 100%;
}

.cover-image{
    max-width: 98%;
    max-height: 98%
}

.more-results{
    color: white;
}

.more-covers-button{
    border:none;
    background: none;
    color: white;
    widows: 100%;
    height: 100%;
    cursor: pointer;
}

.get-more{
    display:flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 15px #6a59ff;
}

.see-more{
    margin: 5px;
    width: 150px;
    border: 1px solid grey;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

/*-----------------------footer stuff----------------------*/
.push{
    height:80px;
}

.footer{
    position: fixed;
    text-align: center;
    bottom: 0;
    height: 80px;
    width: 100%;
    background: linear-gradient(to top, #cac9c9, white);
    z-index: -2;
}

.discogs-logo{
    width: auto;
    height: 30px;
    bottom:0;
    margin-top: 5px;
}

/*-----------------accessibility----------------*/
.sr-only{
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
}

/*--------------@ media css queries-------------- */
@media only screen and (min-width: 600px) {
    .results-container main{
        width: 150px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        transition-duration: 2s;
    }
    .result-cover{
        width:150px;
    }
    .logo-container{
        font-size: 50px;
    }
    .site-icon{
        width: 50px;
        height: 50px;
    }
    .typeahead, .tt-query, .tt-hint {
        padding: 20px 12px;
        font-size: 22px;
    }
    .tt-suggestion{
        font-size: 22px;
    }
    .suggestion-cat{
        font-size: 22px;
    }
}

@media only screen and (min-width: 500px){
    .result-cover{
        width:150px;
    }
}

@media only screen and (min-width: 320px){
    .covers-search{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .logo-container{
        font-size: 30px;
    }
    .site-icon{
        font-size:30px;
    }
}